version: 2
updates:
  - package-ecosystem: gradle
    directory: /
    schedule:
      interval: weekly
      day: saturday
    groups:
      minor-patch:
        update-types:
          - minor
          - patch
